@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
	font-family: 'Inter bold';
	src: url('./assets/fonts/Inter-Bold.ttf');
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  width: fit-content;
  min-width: 150px;
  padding: 8px 24px;
  border: none;
  border-radius: 100px;
  background: #FFF;
  color: #1D1E25;
  flex-shrink: 0;
  font-family: "Inter bold";
  font-size: 1rem;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
